@model IEnumerable<PotatoBot.Model.API.QueueItem>

@{
    ViewData["Title"] = "Library";
}
<table class="table striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-label="@Html.DisplayNameFor(model => model.Title)">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.DownloadId  }) |
                @Html.ActionLink("Delete & Blacklist", "Delete", new { id=item.DownloadId, blackList=true  })
            </td>
        </tr>
}
    </tbody>
</table>
